* {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  color: black;
}

h1 {
  text-align: center;
}

form {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: .5rem;
}

nav > a {
  color: #a5a58d;
}

input, button {
 margin: 1rem;
 box-shadow: 1px 1px 1px 1px grey;
 border-radius: 5px;
 border: none;
}

a{
    text-decoration: none;
}

ul{
  list-style: none;
}

/* Landing Page */

.WelcomeHeader {
  background-image: url('./svg/wintery-sunburst.svg');
  background-size: cover;
  }

.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Auth--container {
  /* height: 50vh; */
  /* margin: 0 3rem 3rem 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CreateUser {
  margin: 5rem;
}

.test-instructions {
  margin: 1.5rem;
}

.homepage--SVG {
  width: 30%;
}

/* Navbar */

.Navbar {
  font-size: 1.75rem;
  /* padding: 1rem; */
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
}

.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} 

.hamb-line::before,
.hamb-line::after{
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}

.Navbar--header > h1 {
  padding: 1rem;
}

.Navbar--header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.Navbar--dropdown {
    width: 100vw;
    height: auto;
    padding: 2rem;
    position: sticky;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* overflow: hidden; */

}

/*Profile View*/

.profile--postedList, .profile--completedList{
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}
.profile--postedList h2 {
  text-align: center;
}
.link--completed {
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: white;
  text-align: center;
}

/* Staff Search */

.UserList {
  height: 75vh;
  margin: 5rem;
  padding: 3rem;
  border: 1px solid grey;
  border-radius: 1rem;
  overflow: scroll;
  background-color: white;
}

.staffSearch {
  background-color: #2a705f;
  color: white;
}

.User > form {
display: flex;
flex-direction: row;
background-color: #93B1A6 ;
}

.click-link {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Notification Badge*/
.badge {
  margin: .5rem;
  padding: .75rem;
  border: 1px solid black;
  border-radius: 1rem;;
  background-color: #5C8374;
  color: white
}

.profile--addJobForm {
  background-color: white;
}