* {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 199, 199);
  color: black;
}

header {
  margin: 1rem;
}


h1 {
  text-align: center;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

/* form {
  margin: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: .5rem;
} */

nav > a {
  color: #a5a58d;
}

input {
 margin: 1rem;
 box-shadow: 1px 1px 1px 1px grey;
 border-radius: 5px;
 border: none;
}

button {
  margin: .5rem;
  padding: .4rem;
  border-radius: .5rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 10px white;
}

a {
    text-decoration: none;
}

ul {
  list-style: none;
}

/* Landing Page */

.WelcomeHeader {
  background-image: url('./svg/wintery-sunburst.svg');
  background-size: cover;
  }

.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Auth--container {
  /* height: 50vh; */
  /* margin: 0 3rem 3rem 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CreateUser {
  margin: 5rem;
}

.test-instructions {
  margin: 1.5rem;
}

.homepage--SVG {
  width: 30%;
}

/* Navbar */

.Navbar {
  font-size: 1.75rem;
  /* padding: 1rem; */
  background-color: rgba(255, 255, 255, 0.784);
  position: sticky;
  top: 0;
  width: 100%;
  max-height: 10vh;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: rgb(0, 0, 0);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} 

.hamb-line::before,
.hamb-line::after{
  background: rgb(0, 0, 0);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}

.Navbar--header > h3 {
  padding: .5rem;

}

.Navbar--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.Navbar--dropdown {
    width: 100vw;
    height: auto;
    padding: 2rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.784);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    /* overflow: hidden; */

}

/*Profile View*/
.profile--postedList, .profile--completedList{
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 10px rgba(84, 84, 84, 0.25);
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: .5rem;
}
.profile--postedList h2 {
  text-align: center;
}
.link--completed {
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 10px rgb(84, 84, 84);
  color: white;
  text-align: center;
}

.profile--form {

}

.profile--addJobForm {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 10px rgba(84, 84, 84, 0.25);
  background-color: rgba(255, 255, 255, 0.659);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;

}
.form--fullContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.form-labelContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form--inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Jobs View */
.availableJobList {
  max-height: 75vh ;
  overflow: scroll;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

.availableJob {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  
}
/* Staff Search */

.UserList {
  height: 75vh;
  margin: 5rem;
  padding: 3rem;
  border: 1px solid grey;
  border-radius: 1rem;
  overflow: scroll;
  background-color: white;
}

.staffSearch {
  background-color: #2a705f;
  color: white;
}

.User > form {
display: flex;
flex-direction: row;
background-color: #93B1A6 ;
}

.click-link {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Notification Badge*/
.badge {
  margin: .5rem;
  padding: .75rem;
  border: 1px solid black;
  border-radius: 1rem;;
  background-color: #5C8374;
  color: white
}

/* .profile--addJobForm {
  background-color: white;
} */