@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  margin: 3rem;
}

form {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: .5rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
nav > a {
  color: white;
}

input {
 margin: 1rem;
}

a {
  text-decoration: none;
}

.Auth {
  /* height: 50vh; */
  /* margin: 0 3rem 3rem 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WelcomeHeader {
  font-size: 2rem;
}

.CreateUser {
  margin: 5rem;
}

.test-instructions {
  margin: 3rem;
}

.Navbar {
  font-size: 1.75rem;
  padding: 2rem;
  background-color: grey;
}

.UserList {
  height: 45vh;
  margin: 5rem;
  padding: 3rem;
  border: 1px solid grey;
  border-radius: .5rem;
  overflow: scroll;
}

.User > form {
display: flex;
flex-direction: row;
}

.click-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.jobList {
  margin: 5rem;
  padding: 3rem;
  border: 1px solid grey;
  border-radius: .5rem;
}

.job {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.badge {
  margin: .5rem;
  padding: .75rem;
  border: 1px solid black;
  border-radius: .5rem;;
  background-color: blue;
  color: white
}

.StaffListPending {
  border: 1px solid black;
  border-radius: .5rem;
}

/* .staffCompleted--container {
  height: 35vh;
  width: 40vw;
  border: 1px solid black;
  overflow: scroll;
} */

.container-complete-payment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  border: 1px solid black;
  border-radius: .5rem;
  /* padding ; */
}

.staff--listCompleted {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 0 3rem;
  height: 20rem;
  width: 30rem;
  border: 1px solid black;
  border-radius: .5rem;
  overflow: scroll;
}

.payment--container {
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: .5rem;
  float: right;
}

@media screen and (max-width: 700px) {
  html{
    /* background-color: blue; */
    font-size: .6rem;
  }

  h1 {
    margin: 2rem;
  }

  form{
    flex-direction: column;
  }

  .CreateUser {
    margin: 1rem;
  }

  .click-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .jobList {
    margin: 1rem;
    padding: 1rem;
  }

  .StaffListPending > h2 {
    text-align: center;
  }

  .container-complete-payment {
    flex-direction: column;
    margin: 1rem;
  }

  .staff--listCompleted {
    height: 25rem;
    width: 25rem;
  }

  .payment--container {
    height: 5rem;
    width: 15rem;
    padding: 2rem 0;
    float: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  nav > a {
    color: black;
  }
  ul {
    display: flex;
    flex-direction: column;
  }

}